[flake8]
max-line-length = 88
extend-ignore = [
    "E203", # whitespace before ':'
    "E266", # too many leading '#' for block comment
    "W503", # line break before binary operator
    "W504"  # line break occurred after operator
]
show-source = true
statistics = true
plugins = ["flake-isort", "flake-black", "flake-gitignore"]
gitignore = true

[isort]
profile = black
line_length = 88

[tool.black]
line_length = 88