[flake8]
max-line-length = 120
extend-ignore = E203, E266, W503, W504
show-source = true
statistics = true
plugins = flake-isort, flake-black
ignore = D1

[isort]
profile = black
line_length = 120

[tool.black]
line_length = 120
skip-string-normalization = true
